@page "/web-element"

<h3>Video youtube Tramwaje we Wrocławiu 2022</h3>

      
<div class="video-container">
    <iframe src="https://www.youtube.com/embed/LKKJ3U_DmJw" title="Tramwaje we Wrocławiu 2022r." frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>

    

@code {}
